.results {
    border: 1px solid grey;
    width: 30%;
    padding: 10px;
    margin: 10px auto;
    text-align: left;
    min-height: auto;
}

.symbol {
    font-size: 1.5em;
    color: green;
}

.resultsName {
    float: right;
    word-wrap: break-word;
    
}

