.marketSummary {
    border: 1px solid grey;
    box-shadow: 5px 7px 18px -5px rgba(0,0,0,0.57);
    width: 40%;
    margin: 1em auto;
    text-align: left;
    padding: 0 0 0 .5em;
}

.marketSummaryTitle {
    width: 70%;
    display: inline-block;
}

.subTitle {
    font-size: 1.5em;
    color: grey;
    margin: 1em 0 0 0;
}

.name {
    font-size: 1.5em;
    color: grey;
}

.price {
    font-size: 1.3em;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.following {
    border-radius: 50px;
    border: 1px solid lightblue;
    box-sizing: border-box;
    font-size: 14px;
    height: 36px;
    width: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: transparent;
    margin:  1em 0 0 3em;
    min-width: 0;
    outline: none;
    cursor: pointer;
}